<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">

  <div class="video_contain">
    <video autoplay loop src="assets/video/backgroundvideo.mp4"></video>
  </div>

  <div class="elements">
    <ion-img id="toplogo" src="assets/img/slogo.png"></ion-img>
    <ion-button expand="block">
      <ion-icon slot="start" name="pricetag"></ion-icon>Productos
    </ion-button>
    <ion-button expand="block">
      <ion-icon slot="start" name="people"></ion-icon>Empleados
    </ion-button>
  </div>

</ion-content>
