<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Muebleria Carpa</ion-list-header>
          <ion-note>{{email}}</ion-note>

          <ion-menu-toggle auto-hide="true">
            <ion-item lines="none" [routerLink]="['']">
              <ion-icon slot="start" ios="log-out-outline" md="log-out-outline"></ion-icon>
              <ion-label>Cerrar Sesion</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
    
    <ion-tabs>
      <ion-tab-bar slot="bottom" #myTabBar id="myTabBar">
        <ion-tab-button tab="new-product" [routerLink]="['new-product']">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Nuevo Producto</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Speakers</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="employee" [routerLink]="['employee']">
          <ion-icon name="person"></ion-icon>
          <ion-label>Empleados</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
