<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/proveedores"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>

  <ion-card-header>
    <ion-card-title class="ion-text-center">{{titulo}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <span *ngIf="submitted && createProveedor.invalid" class="badge badge-danger"></span>
    <form [formGroup]="createProveedor">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName= "nombre" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" formControlName="apellido" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Producto</ion-label>
        <ion-select placeholder="Producto" formControlName="producto">
          <ion-select-option *ngFor= "let producto of Productos">{{producto.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-input type="text" formControlName="estado" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Municipio</ion-label>
        <ion-input type="text" formControlName="municipio" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Colonia</ion-label>
        <ion-input type="text" formControlName="colonia" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Calle</ion-label>
        <ion-input type="text" formControlName="calle" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Codigo postal</ion-label>
        <ion-input type="number" formControlName="codigo_postal" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Numero exterior</ion-label>
        <ion-input type="number" formControlName="num_exterior" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input type="number" formControlName="telefono" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Empresa</ion-label>
        <ion-input type="text" formControlName="empresa" ></ion-input>
      </ion-item>
    </form>

    <br>
    <ion-button type="submit" expand="full" (click)="Actualizar()" color="success">
      Añadir
    </ion-button>
</ion-card-content>
</ion-card>

</ion-content>
