<ion-header>
  <ion-toolbar color = "dark">
    <ion-buttons slot = "start">
      <ion-back-button defaultHref = "/employee"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Datos del empleado:</ion-card-title>
            <ion-buttons slot = "end">
              <ion-button color = "danger">
                <ion-icon name = "trash"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-card-header>
          <ion-card-content>
            <span *ngIf="submitted && createEmpleado.invalid" class="badge badge-danger"></span>
            <form [formGroup]="createEmpleado">
              <ion-list >
                <ion-item >
                  <ion-label position="stacked">Nombre</ion-label>
                  <ion-input type="text" formControlName= "nombre" ></ion-input>
                </ion-item>
                <ion-item >
                  <ion-label position="stacked">Apellido</ion-label>
                  <ion-input type="text" formControlName= "apellido" ></ion-input>
                </ion-item>
                <ion-item >
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input type="text" formControlName= "email" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Sexo</ion-label>
                  <ion-select formControlName= "sexo">
                    <ion-select-option value = "m">Masculino</ion-select-option>
                    <ion-select-option value = "f">Femenino</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Fecha de nacimiento</ion-label>
                  <ion-datetime  placeholder="Seleccione la fecha" displayFormat = "DD/MMMM/YYYY" formControlName= "fechaDeNacimiento"></ion-datetime>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Categoría</ion-label>
                  <ion-select formControlName= "categoria" >
                    <ion-select-option value = "engargado">Encargado</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Estado</ion-label>
                  <ion-select formControlName= "estado" >
                    <ion-select-option value = "e">e</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Municipio</ion-label>
                  <ion-select formControlName= "municipio" >
                    <ion-select-option value = "e">e</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Colonia</ion-label>
                  <ion-select formControlName= "colonia" >
                    <ion-select-option value = "e">e</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Calle</ion-label>
                  <ion-input  type="text" formControlName= "calle" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Código postal</ion-label>
                  <ion-input  type="text" formControlName= "codigo_postal" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Número exterior</ion-label>
                  <ion-input  type="text" formControlName= "num_exterior" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Teléfono</ion-label>
                  <ion-input  type="text" formControlName= "telefono" ></ion-input>
                </ion-item>
                
              </ion-list>
            </form>

          </ion-card-content>
        </ion-card>
                
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <section class = "full-width">
          <ion-button color = "success" expand = "full" (click) = "saveEmployee()">
            {{this.action}}
          </ion-button>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
